In [2]:
import pandas as pd
import zipfile

In [3]:
zf = zipfile.ZipFile('E:/projects/prac/archive.zip') 
df = pd.read_csv(zf.open('melb_data.csv'))

In [4]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
df1 = df.dropna(axis = 0, how = 'any')

df1.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

y = df.Price
X= df.drop(['Price'], axis = 1)

X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [7]:
X_train_full.describe()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10815.000000,10864.000000,5708.000000,6557.000000,10864.000000,10864.000000,10864.000000
mean,2.941458,10.123518,3105.655099,2.916973,1.535162,1.604716,565.872423,153.764119,1964.839866,-37.809911,144.995053,7474.990519
std,0.961697,5.881645,91.169384,0.973700,0.692709,0.961010,4382.784066,601.749174,36.396266,0.079467,0.103625,4359.830215
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1830.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.100000,3046.000000,2.000000,1.000000,1.000000,178.000000,93.000000,1940.000000,-37.857300,144.929667,4385.000000
50%,3.000000,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802465,145.000200,6567.000000
75%,4.000000,13.000000,3149.000000,3.000000,2.000000,2.000000,650.250000,174.000000,2000.000000,-37.757172,145.057518,10331.000000
max,10.000000,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.482730,21650.000000

In [14]:
X_train_full.shape

(10864, 20)

In [8]:
X_valid_full.describe()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,2716.000000,2716.000000,2716.000000,2716.000000,2716.000000,2703.000000,2716.000000,1422.000000,1648.000000,2716.000000,2716.000000,2716.000000
mean,2.924153,10.194809,3103.889175,2.905744,1.530560,1.631521,528.590943,144.756506,1964.064927,-37.806372,144.995868,7372.124816
std,0.931617,5.817486,88.682390,0.934281,0.687822,0.968985,1671.270666,118.713843,40.583510,0.078376,0.105085,4452.660778
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.164040,144.557840,389.000000
25%,2.000000,6.200000,3044.000000,2.000000,1.000000,1.000000,172.000000,92.125000,1940.000000,-37.855200,144.929150,4217.000000
50%,3.000000,9.400000,3084.000000,3.000000,1.000000,2.000000,444.000000,126.000000,1970.000000,-37.802050,144.999500,6482.000000
75%,3.000000,13.000000,3146.000000,3.000000,2.000000,2.000000,652.000000,173.000000,1998.000000,-37.754080,145.059955,9704.000000
max,8.000000,45.900000,3977.000000,9.000000,7.000000,10.000000,76000.000000,3558.000000,2017.000000,-37.496740,145.526350,21650.000000

### Drop columns with missing values (simplest approach)

In [ ]:
cols_with_missing = [col for col in X_train_full.columns if X_train_full[col].isnull().any()] 

X_train_full.drop(cols_with_missing, axis=1, inplace=True)
X_valid_full.drop(cols_with_missing, axis=1, inplace=True)

### "Cardinality" means the number of unique values in a column

### Select categorical columns with relatively low cardinality (convenient but arbitrary)

In [10]:
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

In [11]:
my_cols = low_cardinality_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

In [12]:
X_train.head()

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
12167,u,S,Southern Metropolitan,1,5.0,3182.0,1.0,1.0,1.0,0.0,NaN,1940.0,-37.85984,144.9867,13240.0
6524,h,SA,Western Metropolitan,2,8.0,3016.0,2.0,2.0,1.0,193.0,NaN,NaN,-37.85800,144.9005,6380.0
8413,h,S,Western Metropolitan,3,12.6,3020.0,3.0,1.0,1.0,555.0,NaN,NaN,-37.79880,144.8220,3755.0
2919,u,SP,Northern Metropolitan,3,13.0,3046.0,3.0,1.0,1.0,265.0,NaN,1995.0,-37.70830,144.9158,8870.0
6043,h,S,Western Metropolitan,3,13.3,3020.0,3.0,1.0,2.0,673.0,673.0,1970.0,-37.76230,144.8272,4217.0

In [15]:
X_train.shape

(10864, 15)

In [13]:
s = (X_train.dtypes == 'object')

s

Type              True
Method            True
Regionname        True
Rooms            False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
Lattitude        False
Longtitude       False
Propertycount    False
dtype: bool

In [18]:
s[s].index.to_list()

['Type', 'Method', 'Regionname']